body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 5px;
}

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon {
  border-radius: 5px;
  border: 1px solid rgb(88, 94, 96);
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 2px 0px #333;
  transform: scale(1.05);
  margin-right: 20px;
  background-color: var(--background-color);
}

.header h1 {
  font-size: 2em;
  margin: 0;
}

.header p {
  margin: 0;
}

.language {
  display: flex;
  justify-content: end;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;

}

label {
  margin-right: 10px;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  cursor: pointer;
  padding: 12px 24px;
  margin: 0 8px;
  border: 2px solid var(--text-color);
  border-radius: 30px;
  background-color: transparent;
  color: var(--text-color);
  transition: all 0.3s ease;
  font-weight: bold;
}


.radio-group input[type="radio"]:checked + label {
  background-color: #5c96f5;
  border-color: var(--text-color);
  color: var(--text-color);
}

.radio-group label:hover {
  background-color: #5c96f5;
  color:var(--header-background-color);

}





#drop-area {
  border: 2px dashed #333;
  border-radius: 20px;
  padding: 30px;
  margin: 30px auto;
  background-color: #ffffff;
  transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  max-width: 300px;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

#drop-area.empty-area {
  background-color: #ffffff;
}

#drop-area.drag-over {
  border-color: #5c96f5;
  background-color: #eaf3ff;
  box-shadow: 0 0 10px #5c96f5; 
}





.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #5c96f5;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.install-button {
  background-color: #5c96f5;
}

.install-button:hover {
  background-color: #82b0f9;

}
.button:hover {
  background-color: #3b72cc;
}






footer {
  left: 0;
  bottom: 0;

  border-top: 1px solid #333;
  box-shadow: 1px 1px 5px 1px #2c3e50;
  color: #ffffff; /* Textfarbe des Footers */
  text-align: center;
  padding: 10px 0;
}


@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }


  h2 {
    font-size: 16px;
  }


  .radio-group {
    flex-wrap: wrap;
    justify-content: center;
  }


  .radio-group input[type="radio"] + label {
    display: inline-block;
    margin: 5px;
    width: auto; 

  }

  .button {
    padding: 8px 16px;
  }

  #drop-area {
    padding: 20px;
    margin: 20px auto;
    max-width: 250px;
    max-height: 300px;
  }


}



.mobile-dropdown {
  display: none;
}


@media screen and (max-width: 480px) {
  .mobile-dropdown {
    display: block;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
  }


  .desktop-menu {
    display: none;
  }
}


.radio-group .custom-size-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.radio-group .custom-size-container input[type="text"] {
  margin: 5px 10px 5px 0;
  padding: 10px;
  flex: 1;
  max-width: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group .custom-size-container input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.radio-group .custom-size-container button {
  margin: 5px 0;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.radio-group .custom-size-container button:hover {
  background-color: #45a049;
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: var(--text-color);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-left label {
  margin-right: 8px;
}


.language select {
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-right ul li {
  margin-left: 20px;
}

.navbar-right ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.navbar-right ul li a:hover {
  background-color: #5c96f5;
  border-radius: 30px;
}

  

.margin-right{
  margin-right: 10px;
}

.blocker {
  padding: 15px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.customSize{
  margin-bottom: 20px;
}





:root {
  --background-color: #a8cbd5;
  --text-color: #333;
  --header-background-color: #ffffff;
  --header-text-color: #333;
}


.dark-mode {
  --background-color: #333; 
  --text-color: #eeeeee; 
  --header-background-color: #222222;
  --header-text-color: #ffffff; 
}

.settings-container {
  background-color: var(--header-background-color);
}

.instructions-container {
  background-color: var(--header-background-color);
}



body {
  background: var(--background-color);
  color: var(--text-color);
}


.navbar {
  background: linear-gradient(135deg, #d0e9f2, #b0d6e3); /* Subtiler Verlauf von Blau zu Blau */
  color: var(--text-color);
}

.header {
  background: linear-gradient(135deg, #f2f2f2, #e6e6e6); /* Subtiler Verlauf von Grau zu Grau */
  color: var(--header-text-color);
}




table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  border-radius: 8px; 
  overflow: hidden;
}

table th, table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #c1c1c1; 
  color: var(--text-color);
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #ffffff; 
}

table td {
  color: var(--text-color);
}



/* Mobile Version */
@media screen and (max-width: 480px) {
  #image-table {
    display:none;
  }

  #resizedImages {
    display:none;
  }
}

/* CSS for the quality slider */
#chooseQuality {
  margin-bottom: 10px;
  font-size: 18px;
}

.quality-slider-container {
  margin-bottom: 20px;
}

.quality-slider-container input[type="range"] {
  width: 20%;
  margin: 0 10px;
}

.quality-slider-container label {
  font-size: 14px;
}





#rename-container label {
  display: none;
}

#rename-container input[type="text"] {
  margin:0 25px;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#rename-container input[type="text"]::placeholder {
  color: #333;
}

#rename-container input[type="text"]:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
  outline: none;
}

