
.instructions-container {
  max-width: 600px;
  margin: 20px auto;

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}


#instructions-de {
  display: none;
}


#instructions-en {
  display: block;
}


.instruction-heading,
.tip-heading,
.support-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}


.instruction-intro {
  margin-bottom: 20px;
}


.instruction-steps {
  list-style-type: decimal;
  margin-left: 20px;
  text-align: left;
}


.instruction-step {
  margin-bottom: 10px;
}


.tips-list {
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
}


.tip {
  margin-bottom: 10px;
}


.support-info {
  margin-top: 20px;
}


.support-link {
  color: #007bff; 
}
